{# File views/layouts/base.twig #}
<!doctype html>
<html lang="en">

<head>
  {{ wp_head }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="" />
  <title>{{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link href="{{ site.theme.link }}/assets/dist/app.css" rel="stylesheet" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39707786-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39707786-1');
  </script>

  {% block additional_head %}
  {% endblock %}
</head>

<body class={{ body_class }}>
  <div class="main-wrapper">
    <div class="container main-body">
      <div>
        {% include 'partials/header.twig' %}
        {% include 'partials/nav.twig' %}
      </div>
      <main role="main">
        {% if featured_announcement %}
        <div>
          <div class="alert {{ featured_announcement.colour }}">
            <p class="alert-title">{{ featured_announcement.title }}</p>
            {{ featured_announcement.content | excerpt(25) }}
            <a href="/announcements/{{featured_announcement.slug}}">Read full announcement</a>
          </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </div>
{% include 'partials/footer.twig' %}

{% block scripts %}
{% endblock %}
<script>
    jQuery("#toggle").click(function() {
      jQuery(this).toggleClass("open");
      jQuery('.main-nav').slideToggle()
    });
</script>
</body>

</html>