{# File views/layouts/base-sidebar.twig #}
<!doctype html>
<html lang="en">

<head>
  {{ wp_head }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="{{ site.theme.link }}/favicon.ico" />
  <title>Blog Template for Bootstrap</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab" rel="stylesheet">
  <link href="{{ site.theme.link }}/assets/dist/app.css" rel="stylesheet" />
</head>

<body class={{ body_class }}>
  <div class="container">
    {% include 'partials/header.twig' %}
    {% include 'partials/nav.twig' %}
  </div>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        {% block content %}
        {% endblock %}
      </div>
      <aside class="col-md-4 blog-sidebar">
        {% include 'partials/sidebar.twig' %}
      </aside>
    </div>
  </main>
  <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.
    </p>
    <p><a href="#">Back to top</a></p>
  </footer>
  <script src="{{ site.theme.link }}/assets/dist/app.js"></script>
</body>

</html>