.card-deck {
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}

.card-deck > .card {
  flex: 1 1 auto;
  margin: 0;
  margin-bottom: 1rem;
  .btn {
    position: absolute;
    bottom: 10px;
  }
  .card-body {
    margin-bottom: 2rem;
  }
}

.card-header-background {
  padding-bottom: 56.25%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media (min-width:1024px) {
  .card-deck > .card {
    width: 32%;
    flex-wrap: wrap;
    flex: initial; 
  }

  .card-deck > .card.announcement {
    width: 100%;
  }
}