.nav-scroller {
  position: relative;
}
.main-nav {
  display: none;
  @media screen and ( min-width: 768px ) {
    display: flex;
  }
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: left;
    .secondary li {
      display: none;
    }
  }
  
  li {
    margin: 0;
    border-bottom: 1px solid #ddd;
  }

  .dropdown-trigger {
    position: relative;
  }

  .dropdown-trigger a {
    padding-right: 15px;
    padding-left: 15px;
  }

  .dropdown-chevron {
    display: none;
  }

  .dropdown-icon {
    position: absolute;
    right:0;
    top: 0;
  }

  a {
    background-color: #333;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  .menu-active a, .current-menu-parent a, .secondary .current-menu-item a{
    background-color: $dark-grey;
  }
  .secondary a {
    background-color: #444;
    display: block;
  }
  a:hover {
    background-color: #555;
  }
}

@media screen and ( min-width: 768px ) {
  .main-nav ul{
    display: flex;
    text-align: center;
    .secondary {
      position: absolute;
      z-index: 1000;
      display: block;
    }
  }
 
  .main-nav ul li {
    flex: 1 1 0;
    border-right: 1px solid #777;
    border-bottom: none;
  }

  a.dropdown-icon{
    display: none;
  }

  .main-nav .dropdown-chevron {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    font-size: 0.75rem;
  }
  .main-nav .dropdown-trigger a {
    padding-right: 10px;
  }

  .dropdown-trigger:hover > ul.secondary li{
    display: block;
    border-bottom: 1px solid #777;
  }
}

@mixin transition($duration, $timing-func) {
	-webkit-transition: $duration $timing-func all;
	   -moz-transition: $duration $timing-func all;
			transition: $duration $timing-func all;
}

@mixin scale($size) {
	-webkit-transform: scale($size);
	   -moz-transform: scale($size);
			transform: scale($size);
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	   -moz-transform: rotate($deg);
			transform: rotate($deg);
}

$bg: rgb(40,110,250);
$menu-bg: #333;
$menu-hover: rgba(40,110,250,0.25);
$size: 3em;
$time: 350ms;
$degree: 135deg;
$timing: ease;

#toggle {
  input {
    display: none;
  }
  position: relative;
	z-index: 3;
	width: $size / 1.75;
	height: $size / 1.75;
	top: 0;
	right: 0;
	margin: 15px 0 0 15px;
  @media screen and (max-width: 768px) {
    margin-top: 5px;
  }
	cursor: pointer;
	
	span {
		display: block;
		position: absolute;
		width: 100%;
		height: $size / 25;
		margin: $size / 4 0 0 0;
		background: #333;
		@include transition($time, $timing);
		
		&:before,
		&:after {
			content: " ";
			position: absolute;
			width: 100%;
			height: $size / 25;
			background: #333;
			@include transition($time, $timing);
		}
		
		&:before {
			margin: -$size / 5 0 0 0;
		}
		
		&:after {
			margin: $size / 5 0 0 0;
    }
	}
	
	&.open {
		span {
			background-color: transparent;
			
			&:before,
			&:after {
				margin: 0;
				background: $bg;
			}
			
			&:before {
				@include rotate($degree);
			}
			
			&:after {
				@include rotate(-$degree);
			}
		}
	}
}
