.slider {
  margin-bottom: 1rem;
  position: relative;
  list-style-type: none;
  .slide {
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .slider-content {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    max-width: 60%;
    h2 {
      color: #fff;
      margin: 0;
    }
    p {
      margin-top: 1rem;
      color: #fff;
    }
    @media(max-width: 768px ){
      max-width: 90%;
      bottom: 0.5rem;
      left: 0.5rem;
      padding: 5px;
      p {
        display:none;
      }
      h2 {
        font-size: 0.875rem;
      }
    }
    
  }
}