.btn-primary {
  background-color: $dark-orange;
  border-color: darken($dark-orange, 15);
  &:hover {
    background-color: darken($dark-orange, 15);
    border-color: darken($dark-orange, 15);
    color: #fff;
  }
  &:active {
    background-color: darken($dark-orange, 15);
    border-color: darken($dark-orange, 15);
  }
  &:focus {
    color: #fff !important;
  }
}

a.btn-primary:focus {
  color: #fff !important;
}