

//colours
$base-font-color: #111b2d;
$bright-orange: #fbb040;
$dark-orange: #ef4136;
$orange: #d2232f;
$lightest-grey: #f6f6f6;
$light-grey: #ddd;
$medium-grey: #ccc;
$dark-grey: #8b8b8b;
$light-blue: #AECBDB;
$dark-blue: #111b2d;
$success-background: #dff0d8;
$success-border: #d0e9c6;
$error-background: #f2dede;
$error-border: #ebcccc;
$error-colour: #8b0000;


$link-color: $dark-orange;

//fonts
$base-font-size: 16px;
$body-font-weight: 400;
$light-font-weight: 100;
$body-font-family: 'Open Sans', sans-serif ;
$header-font-weight: 400;
$header-font-family: 'Roboto Slab', serif ;

.main-body {
  margin-bottom: 5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 1 auto;
}

.alignleft {
  float: left;
  margin-right: 20px;
}
.alignright {
  float: right;
  margin-left: 20px;
}