body,
html {
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family !important;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $body-font-weight;
  font-family: $header-font-family;
  color: $base-font-color;
  margin-bottom: 1.5rem;
}

h1,
.h1 {
  font-size: 2rem;
}

strong,
.strong {
  font-weight: 600;
}
h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: 600
}

.small {
  text-transform: initial;
}

a {
  transition: 0.3s;
  color: $link-color;
  font-weight: 400;
  &:hover {
    text-decoration: none;
    color: darken($link-color, 25);
  }
  &:active,
  &:focus {
    color: $link-color;
    text-decoration: none;
  }
}
.medium-text {
  font-size: 1.25em;
}

.large-text {
  font-size: 1.5em;
}

.lightweight {
  font-weight: 300;
}

li {
  margin-bottom: 1rem;
}
