@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'custom';
@import 'typography';
@import 'buttons';
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/alerts';
@import 'partials/cards';
@import 'partials/slider';

body {
  overflow-x:hidden;
}
.breakout {
  width: 100vw; 
  position: relative; 
  left: calc(-1 * (100vw - 100%) /2); 
}

.dataTables_info {
  display:none !important;
}

#board, #social {
  max-width: 100%;
  width: auto !important;
}