{% if featured_announcement %}
  <div>
    <div class="alert {{ featured_announcement.colour }}">
      <p class="alert-title">{{ featured_announcement.title }}</p>
      {{ featured_announcement.content | excerpt(25) }}
      <a href="/announcements/{{featured_announcement.slug}}">Read full announcement</a>
    </div>
  </div>
{% endif %}