<footer class="footer">
  <p>&copy;{{"now"|date('Y')}} Copyright - Harris Towers - Wentworth Condominium Corporation #76</a>.
  </p>
</footer>
<script src="{{ site.theme.link }}/assets/dist/app.js"></script>
{{ function('wp_footer') }}