{# File: views/partials/header.twig #}
<header class="blog-header py-3">
  <div class="row justify-content-between align-items-center" style="margin-right: 0; margin-left: 0;">
    <div>
      <a class="blog-header-logo text-dark h3" href="{{ site.link }}">{{ site.name }}</a>
    </div>
    <div class="d-md-none">
      <div id="toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

