{# File: views/partials/nav.twig #}
<div class="nav-scroller">
  <nav class="nav justify-content-center main-nav">
    <ul>
      {% if( function('is_user_logged_in'))%}
        {% for menuItem in owner_menu.get_items %}
          <li class="{% if menuItem.children %}menu-item dropdown-trigger{% endif %} {% if menuItem.current or menuItem.current_item_parent %}menu-active{% endif %}">
            <a href="{{ menuItem.link }}">{{ menuItem.title }} 
              {% if menuItem.children %}
              <span class="dropdown-chevron lnr lnr-chevron-down"></span>
              {% endif %}
            </a>
            {% if menuItem.children %}
              <a href="#" class="dropdown-icon">&plus;</a>
              <ul class="secondary">
                {% for child in menuItem.children %}
                  <li class="{{ child.class }}"><a href="{{ child.link }}">{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      {% else %}
        {% for menuItem in menu.get_items %}
        <li class="{% if menuItem.current %}menu-active{% endif %}">
          <a href="{{ menuItem.link }}">{{ menuItem.title }}</a>
        </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
</div>