{# File: views/partials/post-tease-card.twig #}
<!-- <div class="card flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h3 class="mb-0">
      <a class="text-dark" href="{{ post.link }}">{{ post.title }}</a>
    </h3>
    <div class="mb-1 text-muted">{{ post.date }}</div>
    <p class="card-text mb-auto">{{ post.excerpt }}</p>
    <a href="{{ post.link }}">Continue reading</a>
  </div>
  {% if post.thumbnail.src %}
  <img class="card-img-right flex-auto d-none d-lg-block" src="{{ post.thumbnail.src('thumbnail') }}" alt="Card image cap" />
  {% endif %}
</div> -->

  <div class="card">
    {% if post.thumbnail.src %}
    <div 
      class="card-header-background"
      style="background-image: url({{ post.thumbnail.src('medium') }})">
    </div>
    {% else %}
    <div 
      class="card-header-background"
      style="background-image: url(/wp-content/themes/harris-new/assets/dist/img/newsletter.jpg)">
    </div>
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.post_content|excerpt(15) }}</p>
      <a href="{{ post.link }}" class="btn btn-primary btn-sm">Continue Reading</a>
    </div>
  </div>
