{# File views/partials/sidebar.twig #}
<div class="p-3 mb-3 bg-light rounded">
  <h4 class="font-italic">About {{ site.name }}</h4>
  <p class="mb-0">{{ site.description }}</p>
</div>
<div class="p-3">
  <h4 class="font-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="#">GitHub</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
  </ol>
</div>