<div class="slider {% if options.full_width %}breakout{% endif %}" style=" padding-bottom:{{options.slider_height}}%">
  {% for slide in options.slides %}
  <div class="slide" style="background-image: url({{slide.slide_image.url}});">
    
  </div>
  {% endfor %}
</div>