{# File views/pages/index.twig #}
{% extends 'layouts/base.twig' %}
{% block content %}
<div class="row mb-2">
  <div class="col-md-12">
    <div class="card-deck">
      {% for post in posts %}
        {% include 'partials/post-tease-card.twig' %}
      {% endfor %}
    </div>
  </div>
</div>
{% include 'partials/pagination.twig' %}
{% endblock %}