{# File: views/pages/page.twig #}
{% extends 'layouts/base.twig' %}
{% block content %}
<div class="blog-post">
  {% if function('is_page','owners') %}
  {{post.content}}
  {% else %}
  {{ post.owner_content | wpautop }}
  {% endif %}
  {% if not announcements is empty %}
  <article>
    <hr class="my-5">
    <h2>Recent Announcements</h2>
    <div class="row mb-2">
      <div class="col-md-12">
        {% for announcement in announcements %}
          <p class="alert-title">{{ announcement.title }}</p>
          {{ announcement.content | excerpt(25) }}
          <a href="/announcements/{{announcement.slug}}">Read full announcement</a>
        {% endfor %}
        <div class="text-center mt-4">
          <a href="/announcements" class="btn btn-lg btn-primary">View All Announcements</a>
        </div>
      </div>
    </div>
    <hr class="my-5">
  </article>
  {% endif %}
  
  {% if not events is empty %}
  <article>
    <h2>Upcoming Events</h2>
    <div class="row mb-2">
      <div class="col-md-12">
        {% if events.length < 3 %}
        {% set style="justify-content:space-evenly" %}
        {% else %}
        {% set style="justify-content:space-between" %}
        {% endif %}
        <div class="card-deck" style={{style}}>
          {% for post in events %}
            {% include 'partials/post-tease-card.twig' %}
          {% endfor %}
        </div>
        <div class="text-center mt-4">
          <a href="/events" class="btn btn-lg btn-primary">View All Events</a>
        </div>
      </div>
    </div>
    <hr class="my-5">
  </article>
  {% endif %}
  <article>
    <h2>Recent Newsletters</h2>
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card-deck">
          {% for post in newsletters %}
            {% include 'partials/post-tease-card.twig' %}
          {% endfor %}
        </div>
        <div class="text-center mt-4">
          <a href="/category/newsletter" class="btn btn-lg btn-primary">View All Newsletters</a>
        </div>
      </div>
    </div>
    <hr class="my-5">
  </article>
</div>
{% endblock %}