{# File views/pages/index.twig #}
{% extends 'layouts/base.twig' %}
{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title mb-3">Announcements</h2>
  {{ post.content | shortcodes }}
</div>
<div class="row mb-2">
  <div class="col-md-12">
    <div class="card-deck">
      {% for post in posts %}
        <div class="card announcement" id="announce-{{ post.ID }}">
          <div class="card-body">
            <h4 class="card-title">{{ post.title }} - {{ post.date }}</h4>
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
      {% endfor %}
      {% if posts is empty %}
      <div class="alert alert-info" style="width: 100%">There are no current announcements, check back later!</div>
      {% endif %}
    </div>
  </div>
</div>
{% if posts.pagination %}
{% include 'partials/pagination.twig' %}
{% endif %}
{% endblock %}