{% extends "layouts/base.twig" %}

{% block additional_head %}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="content-wrapper container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
        <h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
          <article class="mb-5">
            {{post.content}}
          </article>
          <table class="table table-hover responsive compact" id="contractors">
            <thead class="thead-dark">
              <tr>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Service</th>
                  <th>Description</th>
                  <th>Phone</th>
              </tr>
            </thead>
            <tbody>
              {% for contractor in contractors %}
                <tr>
                    <td><nobr>{{ contractor.title }}</nobr></td>
                    <td>{{ contractor.contact_name }}</td>
                    <td><nobr>{{ contractor.type }}</nobr></td>
                    <td>{{ contractor.description }}</td>
                    <td><nobr><a href="tel:{{ contractor.phone_number }}">{{ contractor.phone_number }}</a></nobr></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    jQuery(document).ready( function () {
      if( jQuery(window).width() < 990 ) {
        jQuery('#contractors').DataTable({
        });
      }
    } );
</script>
{% endblock %}