{# File: views/pages/page.twig #}
{% extends 'layouts/base.twig' %}
{% block content %}
<div class="blog-post">
  {{ post.post_content | shortcodes | wpautop }}
  {{ function( 'do_shortcode', '[leaflet-map lat=43.217286 lng=-79.796612 zoom=14 zoomcontrol=1]' ) }}
  {{ function( 'do_shortcode', '[leaflet-marker lat=43.217286 lng=-79.796612]<strong>Harris Towers</strong><br>30 Harrisford Street<br>Hamilton, ON L8K 6N1<br><a href="https://www.google.ca/maps/dir/43.1635478,-79.2466727/30+Harrisford+St,+Hamilton,+ON+L8K+6M9/@43.205957,-79.6587363,11z/data=!3m1!4b1!4m18!1m7!3m6!1s0x882c99a7d5987bd5:0x4a201743f40ce70a!2s30+Harrisford+St,+Hamilton,+ON+L8K+6M9!3b1!8m2!3d43.2176042!4d-79.796203!4m9!1m1!4e1!1m5!1m1!1s0x882c99a7d5987bd5:0x4a201743f40ce70a!2m2!1d-79.796203!2d43.2176042!3e3" target="_blank" rel="noopener noreferrer nofollow">Directions</a>[/leaflet-marker]' ) }}
</div>
{% endblock %}