{% extends "layouts/base.twig" %}

{% block content %}
	<div class="content-wrapper container">
		<article>
			<section class="article-content">
        <h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
					{% for pic in post.get_field('pic') %}
						<p>{{pic.date}} - <a href="{{pic.pdf}}" target="_blank">View PIC</a></p>
					{% endfor %}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}