{% extends "layouts/base.twig" %}

{% block content %}
	<div class="content-wrapper container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
        <h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
          {{post.content}}
          <ol>
            {% for rule in options.rules %}
              <li>{{ rule.rule }}</li>
            {% endfor %}
          </ol>
          <strong class="h3">Your co-operation is appreciated</strong>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}