{% extends "layouts/base.twig" %}

{% block additional_head %}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="content-wrapper container">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
          {% if( function('is_user_logged_in')) %}
          {{ function('do_shortcode', '[contact-form-7 id="352" title="Contact Form"]') }}
          {% else %}
          {{ function('do_shortcode', '[contact-form-7 id="12" title="Contact Form"]') }}
          {% endif %}
        </div>
        <div class="row">
        {% if( function('is_user_logged_in')) %}
        <div class="my-3 col-sm-12">
          <h2>Board Members</h2>
          <table class="table" id="board" style="max-width: 100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Email</th>
                <th>Unit</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for contact in options.board_members %}
            <tr>
              <td data=priority="1">{{contact.name}}</td>
              <td><nobr>{{contact.position}}</nobr></td>
              <td><nobr><a href="mailto:{{contact.email_address}}">{{contact.email_address}}</nobr></td>
              <td data-priority="2">{{contact.unit_number}}</td>
              <td>{{loop.index}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="my-3 col-sm-12">
          <h2>Social Committee</h2>
          <table class="table" id="social">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Email</th>
                <th>Unit</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for contact in options.members %}
            <tr>
              <td data=priority="1">{{contact.social_name}}</td>
              <td>{{contact.social_position}}</td>
              <td><a href="mailto:{{contact.social_email}}">{{contact.social_email }}</td>
              <td data-priority="2">{{contact.social_unit_number}}</td>
              <td>{{loop.index}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="my-3 col-sm-6">
          <h2>Superintendant</h2>
          {{ options.super_name }}<br>
          {{ options.super_address }}<br>
          {{ options.super_city }}, {{ options.super_province }} {{ options.super_postal_code}}<br>
          Telephone: <a href="tel:{{ options.super_telephone }}">{{ options.super_telephone }}</a><br>
          <a href="mailto:{{ options.super_email }}">{{ options.super_email }}</a>
        </div>
        {% else %}
          <div class="my-3 col-sm-6">
            <h2>Building Contact</h2>
            Harris Towers<br>
            {{ options.super_address }}<br>
            {{ options.super_city }}, {{ options.super_province }} {{ options.super_postal_code}}<br>
            Telephone: <a href="tel:{{ options.super_telephone }}">{{ options.super_telephone }}</a><br>
            <a href="mailto:{{ options.super_email }}">{{ options.super_email }}</a>
          </div>
        {% endif %}
          <div class="my-3 col-sm-6">
            <h2>Property Management</h2>
            {{ options.name }}<br>
            {{ options.title }}, {{ options.company }}<br>
            {{ options.address }}<br>
            {{ options.city }}, {{ options.province }} {{ options.postal_code}}<br>
            Telephone: <a href="tel:{{ options.telephone }}">{{ options.telephone }}</a><br>
            Fax: {{ options.fax }}<br>
            <a href="mailto:{{ options.email }}">{{ options.email }}</a>
          </div>
        </div>

        {{ function( 'do_shortcode', '[leaflet-map lat=43.217286 lng=-79.796612 zoom=14 zoomcontrol=1]' ) }}
        {{ function( 'do_shortcode', '[leaflet-marker lat=43.217286 lng=-79.796612]<strong>Harris Towers</strong><br>30 Harrisford Street<br>Hamilton, ON L8K 6N1<br><a href="https://www.google.ca/maps/dir/43.1635478,-79.2466727/30+Harrisford+St,+Hamilton,+ON+L8K+6M9/@43.205957,-79.6587363,11z/data=!3m1!4b1!4m18!1m7!3m6!1s0x882c99a7d5987bd5:0x4a201743f40ce70a!2s30+Harrisford+St,+Hamilton,+ON+L8K+6M9!3b1!8m2!3d43.2176042!4d-79.796203!4m9!1m1!4e1!1m5!1m1!1s0x882c99a7d5987bd5:0x4a201743f40ce70a!2m2!1d-79.796203!2d43.2176042!3e3" target="_blank" rel="noopener noreferrer nofollow">Directions</a>[/leaflet-marker]' ) }}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    jQuery(document).ready( function () {
      if( jQuery(window).width() < 768 ) {
        jQuery('#board').addClass('responsive')
        jQuery('#social').addClass('responsive')
      }
      jQuery('#board').DataTable({
        "order": [[ 4, "asc"]],
        "paging": false,
        columnDefs: [{
          "targets": [4],
          "visible": false,
          "searchable": false
        }]
      });
      jQuery('#social').DataTable({
        "order": [[ 4, "asc"]],
        "paging": false,
        columnDefs: [{
          "targets": [4],
          "visible": false,
          "searchable": false
        }]
      });
    } );
</script>
{% endblock %}