{# File views/pages/search.twig #}
{% extends 'layouts/base.twig' %}
{% block content %}
<div class="row h-100 justify-content-center align-self-center mr-0" style="overflow:hidden">
  <div class="my-auto text-center text-muted p-0 m-0">
    <h2>Found {{ posts|length }} results for your query "{{ search_term }}"</h2>
  </div>
</div>
<div class="row mb-2 mt-5">
  {% for post in posts %}
  <div class="col-md-12">
    {% include 'partials/post-tease-card.twig' %}
  </div>
  {% endfor %}
</div>
{% endblock %}