{% extends 'layouts/base.twig' %}
{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">{{ post.date }}</p>
  {{ post.content | shortcodes| e('wp_kses_post') }}
</div>
{% endblock %}